* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Color Theme */
/* https://www.shecodes.io/palettes/1215#palette */

body {
  background-color: #1f6f78;
}

.navbar {
  background-color: #93e4c1;
}
.game-window {
  background-color: #3baea0;
}

.wrapper {
  background-color: #3baea0;
}

/* Navbar */

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Menu */

.arrows {
  cursor: pointer;
}

.no-select {
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.number-picker {
  margin: auto;
  margin-top: 1em;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 50vw;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}

button {
  margin-top: 5px;
  padding: 5px;
}

/* wrapper */
.wrapper {
  margin: auto;
  margin-top: 1em;
  width: 90vw;

  border-radius: 10px;
}

/* gamewindow */
.game-window {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-evenly;
  border-radius: 10px;
}

.card {
  flex-basis: 20%;
  width: 10%;
}

.paired-fade {
  opacity: 0.5;
}



/* Table */
table {
  border-collapse: collapse;
  margin: auto;
  color: white;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #93e4c1;
  color: black;
}

th {
  text-align: left;
}




@media (min-width: 481px) {
  .number-picker {
    width: 15vw;
  }

  .card {
    flex-basis: 10%;
    width: 10%;
  }
}
