/* Navbar */

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: chartreuse;
}

.navbar li {
  margin-right: 10px;
}

.navbar li.right {
  justify-self: flex-end;
}

/* number picker menu */

.arrows {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.number-picker {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 50vw;
  font-size: 1em;
  line-height: 1.5em;
  background-color: cadetblue;
  text-align: center;
}

/* wrapper */
.wrapper {
  background-color: darkblue;
  margin: auto;
  width: 90vw;
}

/* gamewindow */
.game-window {
  margin: auto;
  background-color: chocolate;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-evenly;
}

.card {
  flex-basis: 20%;
  background-color: aquamarine;
  width: 10%;
}

.paired-fade {
  opacity: 0.5;
}

@media (min-width: 481px) {
  .game-window {
    background-color: darkgreen;
  }

  .number-picker {
    width: 15vw;
  }

  .card {
    flex-basis: 10%;
    width: 10%;
  }
}
